body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App{
    margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin-top: 5rem;      
}
.dataCard{
    background-color: rgb(255, 255, 227);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}
.dataCard p{
    text-align: start;
    font-size: 20px;
    line-height: 1.5rem;
}
.dataCard img{
    border-radius: 50%;    
}
button{
    margin-top: 1.5rem;
    border-radius: 50%;
    border: none;
    width: 3rem;
    height: 3rem;    
}
.button i{
    font-size: 1.5rem;    
}